@import "tailwindcss";

/* *,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
} */

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

.shape-custom {
  shape-outside: circle(50%);
  clip-path: circle(50%);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
